* {

    margin: 0px;
  
    padding: 0px;
  
    box-sizing: border-box;
  
  }
  #imagemeri{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
  }
  
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}
 #desc{
    text-align: center;
    border: #800000;
    background-color: rgba(178, 120, 32, 0.799);
    padding: 20px;
 } 
  nav {
  
    display: flex;
  
    justify-content: space-around;
  
    align-items: center;
  
    min-height: 8vh;
  
    background-color: #800000;
  
    font-family: "Montserrat", sans-serif;
  
  }
  
  .heading {
  
    color: rgb(255, 255, 255);
    
  
    text-transform: uppercase;
  
    letter-spacing: 5px;
  
    font-size: 20px;
  
  }
  
  .nav-links {
  
    display: flex;
  
    justify-content: space-around;
  
    width: 30%;
  
  }
  
  .nav-links li {
  
    list-style: none;
  
  }
  
  .nav-links a {
  
    color: rgba(255, 255, 255, 0.71);
  
    text-decoration: none;
  
    letter-spacing: 3px;
  
    font-weight: bold;
  
    font-size: 14px;
  
    padding: 14px 16px;
  
  }
  
  .nav-links a:hover:not(.active) {
  
    background-color: rgba(178, 120, 32, 0.799);
  
  }
  
  .nav-links li a.active {
    color: rgb(255, 255, 255);
    background-color: rgba(178, 120, 32, 0.614);
  
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .fa {  
    padding: 20px;  
  text-align: center;  
    margin: 5px 2px;  
    font-size: 30px;  
    width: 50px;  
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  .fa-linkedin {  
    background: #007bb5;  
    color: white;  
  }
  
  .fa-twitter {  
    background: #55ACEE;  
    color: white;  
  }  
  .fa-google {  
    background: #dd4b39;  
    color: white;  
  }  
  .fa-github{
    background:black;
    color: white;
  }
  #icons{
    margin-left:40%;
    margin-right:40%;
  }



